# Python
**/.pytest_cache
**/__pycache__/
**/.mypy_cache/
**/.ruff_cache
.venv/
venv/
**/*.pyc
dist/

# Env
**/.env

# Project files
tmp/

# VIM swap files
**/*.swp

# Git & IDEs
.git
.history
.vscode

# Mac
**/.DS_Store