.idea/
.vscode/
[Ll]ogs/
venv/
__pycache__/
.DS_Store
.history/netcdf_to_cb/netcdf_builder_20210624084256.py
.history/netcdf_to_cb/netcdf_builder_20210628175741.py
.history/netcdf_to_cb/netcdf_builder_20210628175826.py
.history/netcdf_to_cb/netcdf_builder_20210629104041.py
.history/netcdf_to_cb/netcdf_ingest_manager_20210624091720.py
.history/netcdf_to_cb/netcdf_ingest_manager_20210628175741.py
.history/netcdf_to_cb/README_20210624084256.md
.history/netcdf_to_cb/README_20210629104041.md
.history/netcdf_to_cb/run_netcdf_ingest_threads_20210624091623.py
.history/netcdf_to_cb/run_netcdf_ingest_threads_20210628175741.py
.history/netcdf_to_cb/run_netcdf_ingest_threads_20210629104041.py
.history/netcdf_to_cb/ingest_docs/MD-TEST:V01:METAR:obs:ingest:netcdf_20210629104330
.history/netcdf_to_cb/ingest_docs/MD-TEST:V01:METAR:obs:ingest:netcdf_20210629104402
.history/netcdf_to_cb/ingest_docs/MD-TEST:V01:METAR:obs:ingest:netcdf_20210629110538
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs-test:ingest:netcdf_20210629104128
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs-test:ingest:netcdf_20210629104312
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs:ingest:netcdf_20210629090054
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs:ingest:netcdf_20210629104041
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs:ingest:netcdf_20210629110525.json
.history/netcdf_to_cb/ingest_docs/MD:V01:METAR:obs:ingest:netcdf_20210629110538.json
.history/netcdf_to_cb/test/test_load_spec_netcdf_metar_obs_V01_20210629102347.yaml
.history/netcdf_to_cb/test/test_load_spec_netcdf_metar_obs_V01_20210629104041.yaml
.history/netcdf_to_cb/test/test_load_spec_netcdf_metar_obs_V01_20210629104422.yaml
.history/netcdf_to_cb/test/test_metar_obs_netcdf_20210629100524.py
.history/netcdf_to_cb/test/test_metar_obs_netcdf_20210629104041.py
.history/netcdf_to_cb/test/test_metar_obs_netcdf_20210629110538.py
