[tool.poetry]
name = "vxingest"
version = "0.1.0"
description = ""
authors = [
    "Ian McGinnis <ian.mcginnis@noaa.gov>",
    "Randy Pierce <randy.pierce@noaa.gov>",
]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"
pyyaml = "^6.0.3"
xarray = "^2025.12.0"
netcdf4 = "^1.7.4"
cfgrib = "^0.9.15.1"
couchbase = "^4.5.0"
pyproj = "^3.7.2"
numpy = "^2.4.1"
metpy = "1.7.1"
prometheus-client = "^0.24.0"
ncepbufr = [{ file = "./third_party/NCEPLIBS-bufr/wheel_dist/ncepbufr-12.2.0-py313-none-macosx_15_0_arm64.whl", platform = "Darwin", markers = "platform_machine == 'arm64' "},
            {file = "./third_party/NCEPLIBS-bufr/wheel_dist/ncepbufr-12.2.0-py313-none-linux_x86_64.whl", platform = "Linux" , markers = "platform_machine == 'x86_64' "},
            {file = "./third_party/NCEPLIBS-bufr/wheel_dist/ncepbufr-12.2.0-py313-none-linux_aarch64.whl", platform = "Linux", markers = "platform_machine == 'aarch64' " }
            ]

[tool.poetry.group.dev.dependencies]
pytest = "^9.0.2"
types-pyyaml = "^6.0.12.20250915"
ruff = "^0.14.11"
coverage = "^7.13.1"
mypy = "^1.19.1"
plotly = "^6.5.1"
mysql-connector-python = "^9.5.0"
tabulate = "^0.9.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
ingest = "vxingest.main:run_ingest"

[tool.pytest.ini_options]
markers = [
    "integration: marks tests that need external resources like databases or data files (deselect with '-m \"not integration\"')",
]

[tool.coverage.run]
branch = true
source = ["src"]

[tool.ruff]
# Dirs that contain third party example scripts and other languages
exclude = [
    "scripts",
    "meta_update_middleware",
]
output-format="pylint"


# For a list of available rules, see: https://docs.astral.sh/ruff/rules/
lint.select = [
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    "F", # pyflakes
    "UP", # pyupgrade
    "I", # isort
    "PTH", # flake8-use-pathlib
    "PT", # flake8-pytest-style
    "B", # bugbear
    "SIM", # flake8-simplify
    "LOG", # flake8-logging
]

lint.ignore = [
    "E501", # Supress line-too-long warnings: trust the formatter's judgement on this one.
    "W505", # Supress line-too-long warnings: trust the formatter's judgement on this one.
]
