certifi==2023.7.22
cfgrib==0.9.10.4
cftime==1.6.2
charset-normalizer==3.2.0
contourpy==1.1.0
couchbase==4.1.6
cycler==0.11.0
fonttools==4.42.1
geopy==2.4.0
idna==3.4
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
MetPy==1.5.1
netCDF4==1.6.4
numpy==1.25.1
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
Pint==0.22
platformdirs==3.10.0
pluggy==1.2.0
pooch==1.7.0
pyparsing==3.0.9
pyproj==3.6.1
pytest==7.4.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.2
six==1.16.0
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
xarray==2023.7.0
